.form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: start;
}
.label {
  width: 100%;
}
.field {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  width: 100%;
}
.tarjeta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.numC {
  border: none;
  border-bottom: 1px solid #585858;
  width: 77%;
}
.imgC {
  width: 80px;
  height: 50px;
}
.allInputsCc {
  display: flex;
  flex-wrap: wrap;
  border: none;
  font-size: 16px;
  color: #585858;
  border-bottom: 1px solid #b3b3b3;
  width: 90%;
}
.allInputsC {
  display: flex;
  width: 30%;
  justify-content: space-between;

  margin: 2rem 0;
  font-size: 12px;
}
.date {
  display: flex;
  font-size: 12px;
  color: #585858;
  margin-top: 0.5rem;
}
.allInputs {
  width: 30%;
  border: none;
  margin: 2rem 0 0 0;
  font-size: 16px;
}

ul {
  list-style: none;
  columns: 2;
  text-align: start;
  margin-top: -1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.side-rigth {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

.error {
  font-size: 10px;
  color: red;
  font-weight: bold;
}

.c {
  font-size: 20px;
}

.dp {
  font-size: 22px;
}

.button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 30%;
  height: 3rem;
  border: none;
  background: #8f2df5;
  border-radius: 24px;
  font-size: 16px;
  margin-top: 1rem;
}
button {
  border: none;
  color: #fff;
  background: transparent;
}
